*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Poppins,sans-serif;
}

body{
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
    background:linear-gradient(135deg,#ffd6e7,#ffeaf4);
}

.container{
    background:white;
    width:400px;
    padding:30px;
    border-radius:20px;
    text-align:center;
    box-shadow:0 8px 20px rgba(255,105,180,0.2);
}

h1{
    color:#ff4f8b;
    margin-bottom:20px;
}

.search-box{
    display:flex;
    gap:10px;
}

input{
    flex:1;
    padding:12px;
    border:2px solid #ffb6c1;
    border-radius:10px;
    outline:none;
}

button{
    padding:12px;
    background:#ff4f8b;
    color:white;
    border:none;
    border-radius:10px;
    cursor:pointer;
}

button:hover{
    background:#ff2e75;
}

#weatherResult{
    margin-top:25px;
}

#weatherResult img{
    width:100px;
}