*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins', sans-serif;
}

body{
    background:linear-gradient(135deg,#ffe4ec,#ffd6e7);
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
}

.container{
    width:420px;
    background:white;
    padding:30px;
    border-radius:20px;
    box-shadow:0 8px 20px rgba(255,105,180,0.2);
}

h1{
    text-align:center;
    color:#ff4f8b;
    margin-bottom:20px;
}

.input-section{
    display:flex;
    gap:10px;
}

input{
    flex:1;
    padding:12px;
    border:2px solid #ffb6c1;
    border-radius:10px;
    outline:none;
}

input:focus{
    border-color:#ff4f8b;
}

#addBtn{
    background:#ff4f8b;
    color:white;
    border:none;
    border-radius:10px;
    padding:12px 16px;
    cursor:pointer;
}

#addBtn:hover{
    background:#ff2e75;
}

ul{
    list-style:none;
    margin-top:20px;
}

li{
    background:#fff0f5;
    margin:10px 0;
    padding:12px;
    border-radius:12px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

li span{
    cursor:pointer;
    color:#444;
}

.completed{
    text-decoration:line-through;
    color:#999;
}

.delete-btn{
    background:#ff6b9a;
    color:white;
    border:none;
    padding:8px 12px;
    border-radius:8px;
    cursor:pointer;
}

.delete-btn:hover{
    background:#ff477e;
}