*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins', sans-serif;
}

body{
    background:linear-gradient(135deg,#ffd6e8,#ffeef7);
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.quiz-container{
    background:white;
    padding:30px;
    width:450px;
    border-radius:20px;
    box-shadow:0 10px 25px rgba(255,105,180,0.3);
    text-align:center;
}

h1{
    color:#ff4fa3;
    margin-bottom:20px;
}

#timer{
    font-size:18px;
    color:#ff4fa3;
    font-weight:bold;
    margin-bottom:20px;
}

#question{
    margin-bottom:20px;
    color:#444;
}

.btn{
    display:block;
    width:100%;
    margin:10px 0;
    padding:12px;
    border:none;
    border-radius:12px;
    background:#ffc2dd;
    color:#333;
    cursor:pointer;
    transition:0.3s;
    font-size:16px;
}

.btn:hover{
    background:#ff91c8;
    color:white;
}

#next-btn{
    margin-top:15px;
    padding:12px 20px;
    border:none;
    border-radius:12px;
    background:#ff4fa3;
    color:white;
    cursor:pointer;
}

#next-btn:hover{
    background:#ff2c91;
}

.hidden{
    display:none;
}

#result h2{
    color:#ff4fa3;
}

#score{
    font-size:22px;
    margin:15px 0;
    color:#444;
}